*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100vh;
}



.remain{
    height: 87%;
    background: linear-gradient(to right, #204e62, #528ea1, #9bb9c5);
    position: fixed;
    left: 225px;
    right: 0;
    top: 13%;
    bottom: 0;
    overflow-y: auto;
}
/* .full{
    position: fixed;
    left: 225px;
    right: 0;
} */
