@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.outer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 400px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0b1c23, #2b4b56, #9bb9c5);
    overflow: hidden;
}

.card{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    margin: 1rem;
    height: auto;
    /* width: 30%; */
    /* height: 40%; */
    /* margin-right: 0; */
    /* margin-left: 3rem; */
    background-color: rgba(185, 235, 142, 0.7);
    border: 5px solid #b47962;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-start; */
    /* padding: 3rem; */
    font-family: 'Montserrat', sans-serif; /* Headings */
    border-radius: 15px;
    box-shadow: 0 0 10px #7fff00;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #FE7743;
}
.heading{
    font-weight:bold;
    font-size:x-large;
    display: flex;
    justify-content: center;
}


.sub{
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    margin-top: 30px;
    border: 2px solid #b47962;
    font-family: 'Montserrat', sans-serif; /* Headings */
    font-size: medium;
    border-radius: 10px;
    font-weight: bolder;
    transition: background-color 0.3s ease,box-shadow 0.3s ease, transform 0.3s ease;

}
.sub:hover{
    box-shadow: 0 0 20px #b47962;
    background-color: #b47962;
    cursor: pointer;
}
.sub:active{
    transform: scale(0.95);
}
#input-with-sx,#password-input{
    width: 23vw;
}   
button{
    width: 18vw;
}
#icon{
    /* transform: scale(0.35); */
    width: 287px;
    height: 287px;
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo2{
    width: 300px;
    height: 300px;
    align-items: flex-start;
}
.txt{
    margin: 2rem;
    color: black;
}

@media (max-width:480px){
    .heading{
        font-size:large;
    }
    .card{
        padding: 2rem;
    }
}