*{
    margin: 0;
    padding: 0;
}
.sidebar{
    width: 225px;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background: linear-gradient(to bottom,#1c1c1c ,#000000, #1c1c1c);
    /* padding: 3rem; */
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid white;
    /* position: fixed; */
    
}
.head {
  position: fixed;
  top: 0;
  left: 225px;
  width: calc(100% - 225px); /* Take remaining width */
  height: 13vh;               /* better than 13% for consistent sizing */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it’s above other elements */
}
 .head2{
    width: 100%;
    color :white;
    text-align: end;
    padding: 3rem;
 }
 .sl{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 35px;
}
.log{
    padding: 0;
    background-color: black;
    color: white;
}
.log:hover{
    cursor: pointer;
}
/* .subs{
  padding: 20px;
} */
.home,.newexam,.newtask,.settings,.profile{
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease,color 0.3s ease,box-shadow 0.3s ease;
 }
 .labeles{
  display: flex;
  align-items: center;
  width: 6rem;
  justify-content: center;
 }
 .sidebar h4 {
  text-decoration: none;
  /* color: white; */
}
 .home:hover,.newexam:hover,.newtask:hover,.settings:hover,.profile:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 20px #7fff00;
 }
 .home:active,.newexam:active,.newtask:active,.settings:active,.profile:active{
    transform: scale(0.95);
 }
 /* .home{
  background-color: orange;
 } */
.icon2{
  /* transform: scale(0.1); */
  width: 83px;
  height: 83px;
}
.icon{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.icon:hover{
  cursor: pointer;
}
#txt2{
  color:white;
}
#txt{
  padding: 1rem;
}

@media (max-width:480px){
    .sidebar{
      width: 60px;
    }
    .head {
      position: fixed;
      top: 0;
      left: 60px;
      width: calc(100% - 60px); 
      height: 8vh;              
    }
    .head2{
      font-size:x-small;
    }
    .labeles{
      display: none;
    }
    .ic,.txt,#txt2{
      display: none;
    }
    /* .head {
      height: 13vh;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    } */
}